video {
    width: 100%;
    height: 100%;
}

/* Add border radius to carousel item once JS is implemented for ability tooltips  */

.carousel-item {
    border-radius: 1%;
    overflow: hidden;
    padding: 0px;
}

#abilityButtonContainer {
    height: 12%;
    padding: 0%;
}

#abilityButtonContainer > button {
    width: 17%;
    height: 100%;
    border-radius: 10%;
    font-size: larger;
    /* background-color: #2E71B0; */
    /* color: white; */
}

#tooltip-container > div > p {
    font-size: larger;
}
