<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>qwer.lol</title>
        <meta name="description" content="">
        <meta name="author" content="Johnny Quinn" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <main>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand m-0"><h3>qwer.lol</h1></a>
                    <div class="container-fluid justify-content-center w-50 p-0">
                        <form class="d-flex">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>